.button {
    display: block;
    background-image: url(../img/down_arrow50.png);
    cursor: pointer;
}

/*Fade image slider*/
#slide_image img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.0;
}
#slide_image img.active {
    opacity: 1.0;
}

/*Fade text slider*/
#slide_info div {
    position: absolute;
    opacity: 0.0;
}
#slide_info div.active {
    opacity: 1.0;
}